<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>OMarket - The Middle East Online Market</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="http://bootstraptaste.com" />
	<!-- css -->
	<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/fancybox/jquery.fancybox.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/flexslider.css" rel="stylesheet" />
	<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" />


	<!-- Theme skin -->
	<link href="{{STATIC_URL}}skins/default.css" rel="stylesheet" />

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

    {% block head %} {% endblock %}

</head>

<body>
<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><span>M</span>oderna</a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Features <b class=" icon-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="typography.html">Typography</a></li>
                                <li><a href="components.html">Components</a></li>
				<li><a href="pricingbox.html">Pricing box</a></li>
                            </ul>
                        </li>                       
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="portfolio.html">portfolio</a></li>
                        <li><a href="contact.html">Contact</a></li>
						<li><a href="/registration/home">Log In</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->


    {% block body %} {% endblock %}


	<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Get in touch with us</h5>
					<address>
					<strong>OMarket company Inc</strong><br>
					17756 NE 90th Street<br>
					Redmond, WA 98052 </address>
					<p>
						<i class="icon-phone"></i> (617) 680-4877 - (123) 555-7891 <br>
						<i class="icon-envelope-alt"></i> info@omarket.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Pages</h5>
					<ul class="link-list">
						<li><a href="#">Press release</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career center</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Flickr photostream</h5>
					<div class="flickr_badge">
						<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
					</div>
					<div class="clear">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; Omarket 2015 All right reserved. By </span><a href="http://www.omarket.com" target="_blank">Omarket</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="http://www.facebook.com/omarket" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
	
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/jquery.easing.1.3.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.fancybox.pack.js"></script>
<script src="{{STATIC_URL}}js/jquery.fancybox-media.js"></script>
<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script src="{{STATIC_URL}}js/google-code-prettify/prettify.js"></script>
<script src="{{STATIC_URL}}js/portfolio/jquery.quicksand.js"></script>
<script src="{{STATIC_URL}}js/portfolio/setting.js"></script>
<script src="{{STATIC_URL}}js/jquery.flexslider.js"></script>
<script src="{{STATIC_URL}}js/animate.js"></script>
<script src="{{STATIC_URL}}js/custom.js"></script>

{% block tailscripts %} {% endblock %}

</body>
</html>
