<!DOCTYPE html>
{% extends "business_admin_base.html" %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
        
     {% block headExtension %}
     {% endblock %}      
        
     {% block body %}
       <div id="page-wrapper">		
		
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Set up the Omarket Store, {{ user.username }}!</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			
			<div class="row">
				<div class="col-lg-12">
					 <div class="panel panel-green">
						 <div class="panel-heading">
							 Complete Your Business Profile Now
						 </div>
						 <div class="panel-body">
							 <p> Complete business profile, add products and services. Start selling immediately</p>
							 <div>
								<button id="addBusiness" type="button" class="btn btn-primary btn-lg btn-block">Add Business</button>
							 </div>
						 </div>
						 <div class="panel-footer">
							 Start selling your products online today!
						 </div>
					 </div>
				</div>
			</div>
				 
		</div>
	 {% endblock %}
		
		
	{% block tailscriptsExtension %}	
	<script src="{{STATIC_URL}}js/business/noBusinessAdded.js"></script>	
	{% endblock %}
