{% extends "base.html" %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
        
     {% block head %}	  
	 <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/registration_changepass.css" />
     {% endblock %}      
        
     {% block body %}
	 <section id ="changePassSection">
		 
		 {% if respErrors %}
			<div id = "changePassErr" class="alert alert-danger">	
				<strong>Errors:</strong>
				<ul>
					{% for error in respErrors %}
					<li class ="errorLi">{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}	
		 
		 <div id="passwordChangeCont">
			<form id="changePasswordForm" action="/registration/changepassword/" autocomplete="on" method="POST"> {% csrf_token %}
				<p>									
					<label for="{{changePasswordForm.oldPassword.id_for_label}}" class="nonBool"> Your Old Password </label>
					{{ changePasswordForm.oldPassword }}
					{% if changePasswordForm.oldPassword.errors %}
						<div class="alert alert-danger err">									
							{{ changePasswordForm.oldPassword.errors }}
						</div>
					{% endif %}
				</p>
				<p>									
					<label for="{{changePasswordForm.newPassword.id_for_label}}" class="nonBool"> New Password </label>								
					{{ changePasswordForm.newPassword }}
					{% if changePasswordForm.newPassword.errors %}
						<div class="alert alert-danger err">									
							{{ changePasswordForm.newPassword.errors }}
						</div>
					{% endif %}
				</p>
				<p>									
					<label for="{{changePasswordForm.confirmNewPassword.id_for_label}}" class="nonBool"> Confirm Password </label>								
					{{ changePasswordForm.confirmNewPassword }}
					{% if changePasswordForm.confirmNewPassword.errors %}
						<div class="alert alert-danger err">									
							{{ changePasswordForm.confirmNewPassword.errors }}
						</div>
					{% endif %}
				</p>
				
				<p class="changePasswordClass button"> 
					<button id="submitChangePass" type="submit">Submit</button>
				</p>						 
			</form> 
		</div>	
		
		
	</section>  
	
	 {% endblock %}
		
		
	{% block tailscripts %}	
	{% endblock %}
