<!DOCTYPE html>
{% extends "base.html" %}
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
        
     {% block head %}
        
    <link rel="shortcut icon" href="../favicon.ico"> 
	<!-- <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/demo.css" /> -->
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login_style.css" />
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/login_animateCustom.css" /> 
    
     {% endblock %}      
        
     {% block body %}
     <div class="container_login">
            
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
														
					
                    <div id="wrapper_login">
                        <div id="login" class="animate form">	
							<form action="/registration/signin/" autocomplete="on" method="POST">{% csrf_token %}
								<h1>Log in</h1>
								  {% if respErrors %}
									<ul>
										{% for error in respErrors %}
										<li>{{ error }}</li>
										{% endfor %}
									</ul>
								 {% endif %}								
								 <p>									
                                    <label for="{{loginForm.username.id_for_label}}" class="uname" data-icon="u" > Your email or Username </label>
									{{ loginForm.username }}
									{{ loginForm.username.errors }}
                                </p>
								<p>									
                                    <label for="{{loginForm.password.id_for_label}}" class="youpasswd" data-icon="p"> Password </label>
                                    {{ loginForm.password }}
									{{ loginForm.password.errors }}
                                </p>
								 <p class="keeplogin"> 									
									{{ loginForm.keepMeLoggedIn }}
									<label for="{{ loginForm.keepMeLoggedIn.id_for_label }}">Keep me logged in</label>
								</p>
								<p class="login button"> 
                                    <input type="submit" value="Login" /> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
							</form>
                            <!--<form  action="/registration/signin/" autocomplete="on" method="POST"> {% csrf_token %}
                                <h1>Log in</h1> 
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Your email or username </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="myusername or mymail@mail.com"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Your password </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="eg. X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
									<input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" /> 
									<label for="loginkeeping">Keep me logged in</label>
								</p>
                                <p class="login button"> 
                                    <input type="submit" value="Login" /> 
								</p>
                                <p class="change_link">
									Not a member yet ?
									<a href="#toregister" class="to_register">Join us</a>
								</p>
                            </form> -->
                        </div>

                        <div id="register" class="animate form">
								<form  action="/registration/signup/" autocomplete="on" method="POST"> {% csrf_token %}
									<h1> Sign up </h1> 
									{% if respErrors %}
									<ul>
										{% for error in respErrors %}
										<li>{{ error }}</li>
										{% endfor %}
									</ul>
									{% endif %}	
									<p>										
										<label for="{{signupForm.usernameSignup.id_for_label}}" class="uname" data-icon="u">Your Username</label>
										{{ signupForm.usernameSignup }}
										{{ signupForm.usernameSignup.errors }}
									</p>	
									<p> 										
										<label for="{{signupForm.email.id_for_label}}" class="youmail" data-icon="e" > Your Email</label>
										{{ signupForm.email }}
										{{ signupForm.email.errors }}
									</p>
									<p> 										
										<label for="{{signupForm.passwordSignup.id_for_label}}" class="youpasswd" data-icon="p">Your password </label>
										{{ signupForm.passwordSignup }}
										{{ signupForm.passwordSignup.errors }}
									</p>
									<p> 										
										<label for="{{signupForm.confirmPassword.id_for_label}}" class="youpasswd" data-icon="p">Please confirm your password </label>
										{{ signupForm.confirmPassword }}
										{{ signupForm.confirmPassword.errors }}
									</p>
									<p>
										<label for="{{signupForm.countrySignup.id_for_label}}" class="youcountry" data-icon="">Your Country </label> </br>
										{{ signupForm.countrySignup }}					
										{{ signupForm.countrySignup.errors }}									
									</p>
									<p>
										<label for="{{signupForm.citySignup.id_for_label}}" class="youcity" data-icon="">Your City </label> </br>
										{{ signupForm.citySignup }}					
										{{ signupForm.citySignup.errors }}	
									</p>
									 <p class="signin button"> 
										<input type="submit" value="Sign up"/> 
									</p>
									<p class="change_link">  
										Already a member ?
										<a href="#tologin" class="to_register"> Go and log in </a>
									</p>
								</form>
                            <!--<form  action="/registration/signup/" autocomplete="on" method="POST"> {% csrf_token %}
                                <h1> Sign up </h1> 
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Your username</label>
                                    <input id="usernamesignup" name="username_signup" required="required" type="text" placeholder="mysuperusername690" />
                                </p>
                                <p> 
                                    <label for="emailsignup" class="youmail" data-icon="e" > Your email</label>
                                    <input id="emailsignup" name="email_signup" required="required" type="email" placeholder="mysupermail@mail.com"/> 
                                </p>
                                <p> 
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                    <input id="passwordsignup" name="password_signup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                    <input id="passwordsignup_confirm" name="password_confirm_signup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
								
								<p>
									<label for="countrysignup" class="youcountry" data-icon="">Your Country </label>
									<select id = "countrysignup" name = "country_signup" required="required">
									  <option value="Palestine">Palestine</option>
									  <option value="US">United States</option>
									  <option value="Jordan">Jordan</option>
									</select>
								</p>
								<p>
									<label for="citySignup" class="youcity" data-icon="">Your City </label>
									<select id = "citysignup" name="city_signup" required="required">
									  <option value="Ramallah">Ramallah</option>
									  <option value="Amman">Amman</option>
									  <option value="Seattle">Seattle</option>
									</select>
								</p>
								<p> 
                                    <label for="addresssignup" class="youaddress" data-icon="">Your Street Address </label>
                                    <input id="addresssignup" name="addresssignup" required="required" type="text" placeholder="362 Memorial Drive APT #2005"/>
                                </p>
                                <p class="signin button"> 
									<input type="submit" value="Sign up"/> 
								</p>
                                <p class="change_link">  
									Already a member ?
									<a href="#tologin" class="to_register"> Go and log in </a>
								</p>
								
                            </form> -->
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
        {% endblock %}
		
		
		{% block tailscripts %}
		<script src="{{STATIC_URL}}js/registration/reg.js"></script>
		{% endblock %}
