#regNewBusiness{	
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 1%;
	margin-top: 1%;
	width: 70%;
}

@media (max-width: 700px) {
	#regNewBusiness{		
		width: 93%;
    }	
}

form { 
	margin: 30px 0 0 0 
}

form label { 	
	margin-bottom: 5px; 
	font-weight: bold; 
	font-size: 15px; 
}

form .nonBool{
	display: block; 
}

form input:not([type="checkbox"]) {
	font: 14px/24px Helvetica, Arial, sans-serif; 
	color: #666; 
	width: 100%;
}

form input:not([type="checkbox"]), 
form textarea { 
	background: none repeat scroll 0 0 #FFFFFF; 
	border: 1px solid #C9C9C9; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset, -5px -5px 0 0 #F5F5F6, 5px 5px 0 0 #F5F5F6, 5px 0 0 0 #F5F5F6, 0 5px 0 0 #F5F5F6, 5px -5px 0 0 #F5F5F6, -5px 5px 0 0 #F5F5F6; 
	color: #545658; 
	padding: 9px; 
	font-size: 14px; 
	border-radius: 2px 2px 2px 2px; 
}


#submitAddBusiness{ 
	background: url("../../img/submit_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #B7D6DF; 
	border-radius: 12px; 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); 
	color: #437182; 
	cursor: pointer; 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-size: 14px;
	font-weight: bold; 
	height: auto; 
	padding: 6px 10px; 
	text-shadow: 0 1px 0 #FFFFFF; 
	width: 100px; 
}

#submitAddBusiness:hover{
	background: url("../../img/submit_hover_bg.gif") repeat-x scroll 0 0 transparent; 
	border: 1px solid #9FBAC0; 
	cursor: pointer; 
}
