/*
td.details-control {
    background: url('../../img/expand.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../../img/close.png') no-repeat center center;
}
*/